body {
    background-image: url("https://images.unsplash.com/photo-1643715996418-5e4b59dcbc39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

table {
    width: 80%;
}

form{
    width: 50%;
    margin: auto 40%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.815);
    box-shadow: 0 8px 32px 0 rgba(236, 129, 227, 0.062);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    /* border: 1px solid rgb(226, 97, 168); */
    color: rgb(255, 0, 157);
}

.list{
    width: auto;
    margin: auto 10%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.877);
    box-shadow: 0 8px 32px 0 rgba(236, 129, 227, 0.062);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    /* border: 1px solid rgb(226, 97, 168); */
    color: rgb(255, 0, 157);
}

table.list {
    text-align: center;
    width: 100%;
    display: none;
}

td {
    text-align: left;
    padding: 8px 15px;
}

/* tr:nth-child(even),
table.list thread>tr {
    /* background-color: rgb(204, 200, 200); */
    /* width: 200%;
} */ 

input[type="text"],
input[type="number"],
input[type="tel"] {
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background: #ff45b200;
    border: 1px solid rgb(226, 97, 168);
    color: rgb(255, 0, 157);
    font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
    background: rgb(255, 0, 170);
    padding: 6px 12px;
    margin-right: 10px;
    /* margin: 15px 0 10px; */
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.edit{
    margin-right: 20px;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background: #000000;
    color: #ff00bf;
}

input[type="reset"]:hover {
    background: #000000;
    color: #ff00bf;
}

button {
    background: rgb(255, 4, 192);
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 0, 157);
}

#Bttn {
    display: none;
    margin: 30px;
}